<h1>Enter name and code city for weather forecast</h1>
<div class="jumbotron">
  <div class="form-group">
    <label class="col-form-label" for="inputDefault">City name</label>
    <input class="form-control" placeholder="Type city name" id="inputDefault" type="text" [(ngModel)] = "cityName">
  </div>
  <div class="form-group">
    <label class="col-form-label" for="inputDefault">City code</label>
    <input class="form-control" placeholder="Type city code" id="inputDefault" type="text" [(ngModel)] = "cityCode">
  </div>
  <button type="button" class="btn btn-success" (click) = "save()">Save</button>
</div>