<div class="container">

  <div class="info">

    <h1> City : <span class="right">{{ weather.name }}</span> </h1>
    <h2> Temperature : <span class="right">{{ weather.main.temp }} <sup>o</sup>C</span> </h2>
    <h2> Cloudness : <span class="right">{{ weather.clouds.all }} %</span> </h2>
    <h2> Pressure : <span class="right">{{ weather.main.pressure }} Pa</span></h2>
    <h2> Humidity : <span class="right">{{ weather.main.humidity }} %</span></h2>
    <h2> Wind speed : <span class="right">{{ weather.wind.speed }} m/s</span></h2>    

  </div>

</div>