  <div [ngClass]="{'main-bg-dark': isDarkModeActive}" class="d-flex justify-content-center main-bg">
    <!-- <header class="d-flex justify-content-center"> -->
        <nav [ngClass]="{'main-nav-dark': isDarkModeActive}" class="navbar navbar-expand-lg fixed-top p-0 main-nav">
            <div class="container">
                <div class="navbar-brand mw-15 mh-15">
                    <img class="img-fluid logo" src="./../assets/icon.png" alt="">
                </div>
                <ul class="navbar-nav d-flex ml-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="./forecast">Weather Forecast</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="./city">Change city</a>
                    </li>
                      <span class="nav-link text-primary">Light</span>
                      <label class="switch">
                        <input (click)="toggleDarkMode()" type="checkbox">
                        <span class="slider round"></span>
                      </label>
                      <span class="nav-link text-primary">Dark</span>
                </ul>
            </div>
        </nav> 
    <!-- </header> -->
    <main class="d-flex">
        <div [ngClass]="{'weather-card-dark': isDarkModeActive}" class="d-flex pt-5 weather-card">
            <router-outlet></router-outlet>
        </div>
    </main>  
  </div>
