/* You can add global styles to this file, and also import other style files */
html {
    min-height: 100%;
    overflow-x: hidden;
  }
  
body {
    position: relative;
    font-family: sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
  }

  