/* You can add global styles to this file, and also import other style files */
html {
    min-height: 100%;
    overflow-x: hidden;
  }
  
body {
    position: relative;
    font-family: sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
  }

  .logo {
    max-height: 50px;
    max-width: 50px;
  }

  .icon {
    max-width: 200px;
    max-height: 200px;
  }

  nav {
    box-shadow: 0 0 2rem rgba(0,0,255,.1);
  }

  .weather-card {
    padding: 2em;
    border: 0.5px rgba(0,0,255,.1);
    border-radius: 40px;
    box-shadow: 0 0 2rem rgba(0,0,255,.1);
  }

  .switch {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    width: 90px;
    height: 25px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(65px);
    -ms-transform: translateX(65px);
    transform: translateX(65px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }